body {
    font-family: courier-std, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
  }
  
  p {
    margin-bottom: 10px;
    font-family: courier-std, sans-serif;
    font-weight: 400;
  }
  
  .dribbble-link {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    border-radius: 100%;
    
  }
  
  .hero-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 277px;
    padding-bottom: 150px;
    background-color: #24c8dd;
    background-image: -webkit-linear-gradient(270deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('../image/background.png');
    background-image: linear-gradient(180deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('../image/background.png');
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
  }
  
  
  .nav {
    position: fixed;
    left: 0px;
    top: 60px;
    right: 0px;
    width: 100%;
    background-color: transparent;
  }
  
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: sofia-pro, sans-serif;
    color: #fff;
    text-align: center;
  }
  
  .nav-link {
    color:white;
      line-height: 42px;
      padding: 0.2px 7px 0.2px 5px;
      border-radius: 5px;
      border: 5px;
  }
  .nav-link:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .nav-link:hover {
    color: #9cadb3;
  }
  
  .nav-link:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .nav-link:active {
    top: 2px;
  }
  .nav-link.w--current {
    box-shadow: inset 0 -2px 0 0 #fff;
    color: #fff;
  }
  
  
  .brand {
    float: none;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 0px;
    width: 25px;
    height: 35px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  
  .centered-element {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  .nasa-heading {
    position: absolute;
    left: 0px;
    top: 50%;
    right: 0px;
    z-index: 10;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    font-family: Lato, sans-serif;
    color: #fff;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 1px 1px 19px #000;
  }
  
  .heading {
    font-family: futura-pt, sans-serif;
    font-size: 5vw;
    line-height: 0.9em;
    font-weight: 500;
  }
  
  .text-block {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    font-family: courier-std, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 1px;
  }
  
  .text-span {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
  }
  
  .heading-2 {
    margin-bottom: 25px;
    font-family: futura-pt, sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .image {
    margin-right: 25px;
  }
  
  .paragraph {
    margin-top: 25px;
    color: #cbc7bc;
  }
  
  .column {
    right: 0px;
    bottom: 0px;
  }
  
  .div-block {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    width: 100%;
    height: 300px;
    background-image: url('../images/take-off-large.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  .row {
    position: relative;
    clear: left;
  }
  
  .number-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 150px;
    background-color: #3a5c61;
    background-image: -webkit-linear-gradient(270deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('../image/background.png');
    background-image: linear-gradient(180deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('../image/background.png');
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
  }
  
  
  .in-the-numbers-box {
    position: relative;
    display: block;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 26px 20px 45px;
    border: 5px solid #2d3d55;
    font-family: sofia-pro, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: left;
  }
  
  .text-block-2 {
    display: inline;
 
  }
  
  .image-2 {
    width: 50px;
    margin-right: 5px;
  }
  
  ._2016-flipped {
    position: absolute;
    left: -21px;
    top: 20px;
    width: 67px;
    height: 28px;
    padding-left: 4px;
    border-bottom: 2px solid #2d3d55;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #ff5353;
    font-size: 12px;
    letter-spacing: 3px;
  }
  
  .div-block-2 {
    position: relative;
  }
  
  .div-block-2.v2 {
    left: -70px;
    top: 50px;
  }
  
  .div-block-2.v3 {
    margin-top: 150px;
  }
  
  .div-block-2.v4 {
    margin-top: 297px;
  }
  
  .absolute-centered {
    position: absolute;
    left: 0px;
    top: 50%;
    right: 0px;
    width: 100%;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  
  .text-block-3 {
    font-family: sofia-pro, sans-serif;
    color: #fff;
    font-size: 90px;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
  }
  
  .text-block-3.small {
    font-size: 47px;
  }
  
  .quantity {
    position: absolute;
    left: 0px;
    top: 20px;
    right: 0px;
    display: block;
    width: 183px;
    margin-right: auto;
    margin-left: auto;
    font-family: sofia-pro, sans-serif;
    color: #fff;
    font-weight: 200;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .quantity.v2 {
    top: 10px;
    width: 283px;
  }
  
  .quantity.v3 {
    top: 5px;
    width: 226px;
  }
  
  .paragraph-2 {
    font-family: sofia-pro, sans-serif;
    color: #9b7b72;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 300;
    text-align: center;
  }
  
  .paragraph-2.v2 {
    color: #aa6774;
  }
  
  .paragraph-2.v3 {
    color: #668689;
  }
  
  .paragraph-2.v4 {
    color: #336eb1;
  }
  
  .paragraph-2.v5 {
    color: #94324b;
  }
  
  .image-3 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 0;
  }
  
  .row-2 {
    position: relative;
    z-index: 1;
  }
  
  .image-section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    clear: left;
  }
  
  .left-side-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 66.6666666%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .right-side-content {
    position: relative;
    width: 33.3333%;
  }
  
  .half-block {
    position: relative;
    width: 50%;
    background-image: url('../image/khusnul.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .half-block.v2 {
    background-image: url('../image/alif.jpeg');
  }
  
  .half-block.v3 {
    width: 100%;
    padding-bottom: 67%;
    background-image: url('../images/planes.jpg');
  }
  
  .full-block {
    width: 100%;
    background-image: url('../images/waving-in-space.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .tall-image {
    position: relative;
    width: 100%;
    padding-bottom: 150%;
    background-image: url('../images/rocket-take-off.jpg');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 125px 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: rgb(211, 183, 131);
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient(270deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('../image/background.png');
    background-image: linear-gradient(180deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('../image/background.png');
    background-position: 0px 0px, 50% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
  }
  
  .nasa-logo {
    position: absolute;
    left: 0px;
    top: -70px;
    right: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer-link {
    position: relative;
    display: block;
    margin-bottom: 25px;
    clear: left;
    font-family: sofia-pro, sans-serif;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .div-block-3 {
    width: 19%;
  }
  
  .div-block-3.extended {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .footer-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: sofia-pro, sans-serif;
    color: #000000;
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .text-field {
    margin-right: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: #000;
    font-size: 16px;
  }
  
  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .submit-button {
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: #336eb1;
    font-family: sofia-pro, sans-serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .footer-bottom {
    position: relative;
  }
  
  .paragraph-3 {
    margin-top: 75px;
    font-family: sofia-pro, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 2.2em;
    font-weight: 200;
    text-align: center;
  }
  
  .hover-over-link-block {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 35px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    opacity: 0;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
    font-family: sofia-pro, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .hover-over-link-block:hover {
    opacity: 1;
  }
  
  .hover-over-link-block.half {
    height: 50%;
  }
  
  .heading-3 {
    width: 100%;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
  }
  
  .paragraph-4 {
    position: relative;
  }
  
  .expanding-container {
    position: relative;
    overflow: hidden;
  }
  
  .text-block-4 {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-transition: background-color 250ms ease, color 250ms ease;
    transition: background-color 250ms ease, color 250ms ease;
  }
  
  .text-block-4:hover {
    background-color: #fff;
    color: #000;
  }
  
  .open-in-webflow {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 150px;
    height: 40px;
    padding: 6px 0px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    opacity: 0.45;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: sofia-pro, sans-serif;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .open-in-webflow:hover {
    opacity: 1;
  }
  
  html.w-mod-js *[data-ix="fadein"] {
    opacity: 0;
    -webkit-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
  }
  
  html.w-mod-js *[data-ix="fadein-2"] {
    opacity: 0;
  }
  
  html.w-mod-js *[data-ix="fade-in-on-scroll"] {
    opacity: 0;
  }
  
  html.w-mod-js *[data-ix="fade-in-on-scroll-2"] {
    opacity: 0;
  }
  
  html.w-mod-js *[data-ix="fade-in-on-scroll-3"] {
    opacity: 0;
  }
  
  html.w-mod-js *[data-ix="fade-in-on-scroll-4"] {
    opacity: 0;
  }
  
  html.w-mod-js *[data-ix="on-load-0px"] {
    height: 0px;
  }
  
  @media (max-width: 991px) {
    .hero-section {
      background-image: -webkit-linear-gradient(270deg, null, null), url('../image/background.png');
      background-image: linear-gradient(180deg, null, null), url('../image/background.png');
      background-position: 0px 0px, 65% 0%;
      background-attachment: scroll, scroll;
    }
    .heading {
      font-size: 22vw;
    }
    .number-section {
      overflow: hidden;
      padding-right: 124px;
      padding-left: 124px;
    }
    .quantity {
      width: 169px;
    }
    .quantity.v2 {
      width: 233px;
    }
    .quantity.v3 {
      width: 196px;
    }
    .div-block-3 {
      width: 50%;
      margin-bottom: 0px;
    }
    .div-block-3.extended {
      width: 100%;
    }
    .hover-over-link-block {
      padding: 20px;
      font-size: 10px;
      line-height: 1.1em;
    }
  }
  
  @media (max-width: 767px) {
    .hero-section {
      min-height: 400px;
      padding-top: 125px;
      padding-right: 10px;
      padding-left: 10px;
      background-image: -webkit-linear-gradient(270deg, null, null), url('../image/background.png');
      background-image: linear-gradient(180deg, null, null), url('../image/background.png');
      background-position: 0px 0px, 71% 100%;
      background-size: auto, cover;
      background-attachment: scroll, scroll;
    }
    .nav {
      top: 0px;
      background-color: #15172e;
    }
    .nav-menu {
      background-color: #15172e;
    }
    .brand.centered {
      display: block;
      width: 160px;
      margin-right: auto;
      margin-left: auto;
      padding: 5px;
      text-align: center;
    }
    .search-icon {
      position: relative;
      top: auto;
      right: 0px;
      bottom: 0px;
      width: 55px;
      height: 65px;
      padding: 8px;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
    .number-section {
     
      background-image: -webkit-linear-gradient(270deg, rgba(48, 75, 90, 0.84), rgba(21, 23, 46, .84)), url('../image/background.png');
      background-image: linear-gradient(180deg, rgba(21, 23, 46, .84), rgba(21, 23, 46, .84)), url('../image/background.png');
      background-position: 0px 0px, 77% 100%;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
    }
    .div-block-2.v3 {
      margin-top: 75px;
    }
    .div-block-2.v4 {
      margin-top: 75px;
    }
    .quantity.v2 {
      width: 273px;
    }
    .quantity.v3 {
      width: 226px;
    }
    .image-section {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .left-side-content {
      width: 100%;
    }
    .right-side-content {
      width: 100%;
    }
    .half-block {
      height: 200px;
    }
    .full-block {
      padding-bottom: 100%;
    }
    .small-centered-logo {
      width: 60px;
    }
    .menu-button {
      color: #fff;
    }
    .menu-button.w--open {
      background-color: #ec2a3f;
    }
    .hover-over-link-block.half {
      height: 100%;
    }
  }
  
  @media (max-width: 479px) {
    .number-section {
      padding-right: 63px;
      padding-left: 63px;
    }
    .half-block {
      width: 100%;
      height: 250px;
    }
    .footer {
      padding: 79px 25px;
    }
    .div-block-3 {
      width: 100%;
      margin-top: 100px;
    }
    .hover-over-link-block {
      line-height: 1.3em;
    }
  }
  
  
  
  .footer-note {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    background: white;
    padding: 1rem;
    color: black;
    border-radius: 5px;
  }
  .footer-note a {
    color: inherit;
    font-weight: 600;
  }
  [data-state="2"] {
    --duration: 1000ms;
    --delay: 400ms;
    --color: #FAE5E5;
    --faded-color: rgba(238, 159, 159, 0.5);
  }
  
  [data-state="1"] {
    --duration: 400ms;
    --delay: 100ms;
    --color: #E7EEF8;
    --faded-color: rgba(152, 182, 225, 0.5);
  }
  
  .app {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    
  }
  .app:before {
    font-family: monospace;
    content: attr(data-state);
    margin-bottom: .5em;
  }
  
  .state {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    text-align: center;
  }
  
  /* ---------------------------------- */
  .device {
    max-width: 20rem;
    display: grid;
    overflow: hidden;
    height: 200%;
    width: 200%;
    border-radius: 1vmin;
    background-color: #fff;
    box-shadow: 0 2vmin 3vmin var(--faded-color);
  }
  .device > * {
    grid-area: 1 / 1;
    padding: 1rem;
  }
  
  /* ---------------------------------- */
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #000;
    margin: auto;
  }
  
  li {
    margin-bottom: .5rem;
    -webkit-animation: enter var(--duration) cubic-bezier(0.5, 0, 0.2, 1) backwards;
            animation: enter var(--duration) cubic-bezier(0.5, 0, 0.2, 1) backwards;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
    -webkit-box-align: center;
            align-items: center;
  }
  li > .title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  li > p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  li > .avatar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  li:nth-child(1) {
    -webkit-animation-delay: calc(1 * var(--delay));
            animation-delay: calc(1 * var(--delay));
  }
  li:nth-child(2) {
    -webkit-animation-delay: calc(2 * var(--delay));
            animation-delay: calc(2 * var(--delay));
  }
  li:nth-child(3) {
    -webkit-animation-delay: calc(3 * var(--delay));
            animation-delay: calc(3 * var(--delay));
  }
  li:nth-child(4) {
    -webkit-animation-delay: calc(4 * var(--delay));
            animation-delay: calc(4 * var(--delay));
  }
  li:nth-child(5) {
    -webkit-animation-delay: calc(5 * var(--delay));
            animation-delay: calc(5 * var(--delay));
  }
  
  @-webkit-keyframes enter {
    from {
      opacity: 0;
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
  }
  
  @keyframes enter {
    from {
      opacity: 0;
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
  }
  .content {
    border-radius: .4rem;
    padding: 1rem;
    --bg: var(--color);
  }
  
  .clickable {
    cursor: pointer;
  }
  .clickable .bg {
    border: solid 5px var(--faded-color);
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border-radius: inherit;
  }
  
  .exit {
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    font: inherit;
    color: white;
    border: none;
    appearance: none;
  }
  
  .avatar {
    background-color: var(--faded-color);
    border-radius: .35rem;
  }
  .avatar:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  
  .p {
    font-size: .65rem;
    line-height: 1.5;
    margin: 0;
    font-weight: bold;
    opacity: 0.3;
    font-family: monospace;
  }
  
  .title {
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: .5rem;
    font-family: monospace;
  }
  
  /* ---------------------------------- */
  .article .avatar {
    margin-bottom: .5em;
  }
  .article .avatar:before {
    padding-bottom: 40%;
  }
  
  /* ---------------------------------- */
  /* Layer Toggling */
  [data-layer] {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity var(--duration) linear, visibility 0s linear var(--duration);
    transition: opacity var(--duration) linear, visibility 0s linear var(--duration);
  }
  
  [data-view="list"] [data-layer="list"],
  [data-view="article"] [data-layer="article"] {
    opacity: 1;
    -webkit-transition-delay: 0s, 0s;
            transition-delay: 0s, 0s;
    visibility: visible;
  }
  
  /* ---------------------------------- */
  [data-layer="list"] li {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform var(--duration) ease;
    transition: -webkit-transform var(--duration) ease;
    transition: transform var(--duration) ease;
    transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
  }
  
  [data-view="article"] [data-layer="list"] > li {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  [data-view="article"] [data-layer="list"] .clickable {
    -webkit-transform: none;
            transform: none;
  }
  [data-view="article"] [data-layer="list"] .clickable ~ li {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  [data-view="article"] [data-layer="article"] .title, [data-view="article"] [data-layer="article"] p {
    -webkit-animation: enter-content calc(var(--duration) * 1.5) calc(var(--delay) / 2) cubic-bezier(0.5, 0, 0.2, 1) both;
            animation: enter-content calc(var(--duration) * 1.5) calc(var(--delay) / 2) cubic-bezier(0.5, 0, 0.2, 1) both;
  }
  [data-view="article"] [data-layer="article"] .title ~ *, [data-view="article"] [data-layer="article"] p ~ * {
    -webkit-animation-delay: calc(var(--delay) * 1.5);
            animation-delay: calc(var(--delay) * 1.5);
  }
  
  @-webkit-keyframes enter-content {
    from {
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @keyframes enter-content {
    from {
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
      opacity: 0;
    }
  }
  /* ---------------------------------- */
  *, *:before, *:after {
    box-sizing: border-box;
    position: relative;
  }
  .blog-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  .blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
            transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    -webkit-transition: left .2s;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
  }
  .blog-card .details a {
    -webkit-text-decoration: dotted underline;
            text-decoration: dotted underline;
  }
  .blog-card .details ul li {
    display: inline-block;
  }
  .blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
  }
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
  }
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
  }
  .blog-card .details .tags li {
    margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .blog-card .description h1,
  .blog-card .description h2 {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    -webkit-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
  @media (min-width: 640px) {
    .blog-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      -webkit-transform: skewX(-3deg);
              transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
              flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
    }
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
  .aa{
      color: #000;
  }
  .frame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 100px;
    width: 350px;
    position: relative;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
   transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
     border-radius: 10px;
  }
  
  .btn{
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
   transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    font-size: 16px;
    color: rgba(42, 52, 84, 1);
    text-decoration: none;
  }
  .btn:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }